[target.aarch64-unknown-linux-gnu]
pre-build = [
    "dpkg --add-architecture arm64",
    "apt-get update",
    "apt-get install -y liblua5.4-dev:arm64 pkg-config",
    "find /usr/lib/aarch64-linux-gnu -name '*lua*'",
    "mkdir -p /usr/lib/aarch64-linux-gnu/pkgconfig",
    "printf 'prefix=/usr\\nexec_prefix=/usr\\nlibdir=/usr/lib/aarch64-linux-gnu\\nincludedir=/usr/include/lua5.4\\n\\nName: Lua\\nDescription: Lua 5.4 library\\nVersion: 5.4\\nLibs: -L${libdir} -llua5.4\\nCflags: -I${includedir}\\n' > /usr/lib/aarch64-linux-gnu/pkgconfig/lua54.pc"
]

[target.aarch64-unknown-linux-gnu.env]
passthrough = ["LUA_STATIC", "RUSTFLAGS"]
