[target.aarch64-unknown-linux-gnu]
pre-build = [
    "dpkg --add-architecture arm64",
    "apt-get update",
    "apt-get install -y liblua5.4-dev:arm64 pkg-config",
    "mkdir -p /usr/lib/aarch64-linux-gnu/pkgconfig",
    "ln -sf /usr/lib/aarch64-linux-gnu/pkgconfig/lua5.4.pc /usr/lib/aarch64-linux-gnu/pkgconfig/lua54.pc"
]
