<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <h1>%s <span style="color: #f74c00">%s</span>-<span style="color: ff00ffz">%s</span>!</h1>
    <p>All of this being ran with Lua using Kob-web as we speak kekww</p>
    <span style="font-weight: bold">Today's date</span>
    [os.date()]: %s
    <p>
        And here you have the output of the rock CJSON being used on Kob-Web!:
        %s
    </p>
    <p>
        <span style="font-weight: bold">Path Params:</span>
        <span style="font-style: italic; color: lightslategrey; font-size: 10px">(for ex: /profile; /login)</span>: %s
    </p>
    <p>
        <span style="font-weight: bold">Query Params:</span>
        <span style="font-style: italic;  color: lightslategrey; font-size: 10px"">(for ex: ?hi=hello; ?id=67)</span>: %s
    </p>
    <p ><span style="font-weight: bold">Request-Type: </span>%s</p>

    <p>Static images being supplied by kob-web! (Ferris & Lua)</p>
    <div style="display: ruby">
        <img width="90" src="/static/ferris.png" />
        <h1>❤️</h1>
        <img width="80" src="/static/lua.png" />
    </div>
    <p>Check more demos <a href="/demo">here</a>!</p>
</html>
